@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap");
body {
  font-family: 'Noto Sans TC', sans-serif;
  margin-top: 100px; }

.navbar {
  box-shadow: 2px 2px 5px #3292a6;
  opacity: 0.9;
  background: #fff; }
  .navbar .nav-item {
    font-size: 1.4rem;
    padding-right: 1.4rem; }

#showcase {
  position: relative;
  min-height: 600px;
  background: url("../img/metro_csie_small.png");
  background-size: cover;
  background-repeat: no-repeat; }
  #showcase .primary-overlay {
    background: rgba(50, 146, 166, 0.85);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

#rules .card-text {
  font-size: large; }

.info-header {
  width: 50%;
  margin: auto;
  border-bottom: 1px #ddd solid; }

#creators img {
  margin-top: -50px; }

#creators .fab {
  color: #3292a6; }

@media (max-width: 768px) {
  #showcase {
    min-height: 500px; }
    #showcase h1 {
      font-size: 4rem; }
  .mb-resp {
    margin-bottom: 1rem; } }
