<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" crossorigin="anonymous">

    <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">

    <title>CS Camp Metro</title>
</head>

<body id="home" data-spy="scroll" data-target="#main-nav">

    <!--Start Here-->

    <nav class="navbar navbar-expand-md navbar-light fixed-top py-4" id="main-nav">
        <div class="container">
            <a href="#home" class="navbar-brand">
                <h3 class="d-inline align-middle">CSIE Metro</h3>
            </a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class = "navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="#home" class="nav-link">首頁</a>
                    </li>
                    <li class="nav-item">
                        <a href="#rules" class="nav-link">規則</a>
                    </li>
                    <li class="nav-item">
                        <a href="#downloads" class="nav-link">下載</a>
                    </li>
                    <li class="nav-item">
                        <a href="#creators" class="nav-link">聯絡我們</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- SHOWCASE -->

    <section id="showcase" class="py-5">
        <div class="primary-overlay text-white">
            <div class="container">
                <div class="text-center my-5 py-5">
                    <h1 class="display-2 my-5 py-5">
                        資訊營趴趴走
                    </h1>
                    <p class="lead">按 Start Game 來開始遊戲！</p>
                    <a href="/start" class="btn btn-success btn-lg text-white">
                        <i class="fas fa-arrow-right pr-3"></i>Start Game
                    </a>
                </div>
            </div>
        </div>
    </section>

    <!-- RULES -->

    <section id="rules" class="my-5 text-center">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="info-header mb-5">
                        <h1 class="text-primary pb-3">
                            規則
                        </h1>
                    </div>
                    <div class="row">
                <div class="col-lg-6 col-md-12 pb-4">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title">
                                規則 1
                            </h3>
                            <hr>
                            <p class="card-text">給你一個起點 A 和一堆目的地 B, C, ...， <br> 請求出 A->B 、 A->C … 分別的最短路徑。</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 pb-4">
                    <div class="card pb-2">
                        <div class="card-body">
                            <h3 class="card-title">
                                規則 2
                            </h3>
                            <hr>
                            <p class="card-text">獲得的分數會是 (你的路徑長) 扣掉 (最佳解的路徑長)。</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 pb-4">
                    <div class="card pb-2">
                        <div class="card-body">
                            <h3 class="card-title">
                                規則 3
                            </h3>
                            <hr>
                            <p class="card-text">分數越 <span class = "font-weight-bold">少</span> 越贏！<br>沒有上傳答案的路徑會以 100 分計算喔。</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 pb-4">
                    <div class="card pb-2">
                        <div class="card-body">
                            <h3 class="card-title">
                                規則 4
                            </h3>
                            <hr>
                            <p class="card-text"> 每題有 <span class = "font-weight-bold"> 2.5 分鐘</span> 可以玩。<br> 你可以上傳很多次，我們會保留你最棒的答案來計算分數。</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- DOWNLOADS -->

    <section id="downloads" class="my-5 text-center">
        <div class="container">

            <div class="row">
                <div class="col">
                    <div class="info-header mb-5">
                        <h1 class="text-primary pb-3">
                            下載
                        </h1>
                        <p class="lead">
                            不同解析度喔！
                        </p>
                    </div>
                </div>
            </div>

            <div class="list-group text-left">
                <a href="{{ url_for('static', filename='img/csie_metro_600ppi.png') }}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                    csie_metro_600ppi
                    <span class="badge badge-pill">6.3MB</span>
                </a>
                <a href="{{ url_for('static', filename='img/csie_metro_300ppi.png') }}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                    csie_metro_300ppi
                    <span class="badge badge-pill">2.4MB</span>
                </a>
                <a href="{{ url_for('static', filename='img/csie_metro_150ppi.png') }}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                    csie_metro_150ppi
                    <span class="badge badge-pill">1.1MB</span>
                </a>
                <a href="{{ url_for('static', filename='img/csie_metro_72ppi.png') }}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                    csie_metro_72ppi
                    <span class="badge badge-pill">468KB</span>
                </a>
            </div>
        </div>
    </section>




    <!-- CREATORS -->
    <section id="creators" class="my-5 text-center">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="info-header mb-5">
                        <h1 class="text-primary pb-3">
                            聯絡我們
                        </h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 mb-resp">
                    <div class="card">
                        <div class="card-body">
                            <img src="../static/img/person1.jpg" alt="" class="img-fluid rounded-circle w-50 mb-3">
                            <h3>
                                chichichichichi (蔡奇夆)
                            </h3>
                            <h5 class="text-muted">偉大的領導</h5>
                            <p class = "card-text">
                                架 server，寫後端，爆肝，爆肝……
                            </p>
                            <div class="d-flex justify-content-center">
                                <div class="p-4">
                                    <a href="https://www.facebook.com/profile.php?id=100003384549072">
                                        <i class="fab fa-2x fa-facebook"></i></a>
                                </div>
                                <div class="p-4">
                                    <a href="https://www.instagram.com/strange_peak/">
                                        <i class="fab fa-2x fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-body">
                            <img src="../static/img/person2.png" alt="" class="img-fluid rounded-circle w-50 mb-3">
                            <h3>
                                浩哥 (陳宇浩)
                            </h3>
                            <h5 class="text-muted">美術總監</h5>
                            <p>畫圖，畫圖，寫網頁，寫網頁，爆肝，爆肝……</p>
                            <div class="d-flex justify-content-center">
                                <div class="p-4">
                                    <a href="https://www.facebook.com/TerranceDingbading/">
                                        <i class="fab fa-2x fa-facebook"></i></a>
                                </div>
                                <div class="p-4">
                                    <a href="https://www.instagram.com/ding_ba_ding_tc/">
                                        <i class="fab fa-2x fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- FOOTER -->

    <footer id="main-footer" class="py-5 bg-primary text-white">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-6 ml-auto">
                    <div class="lead">
                        Copyright &copy; <span id="year"></span>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>

<script src="{{ url_for('static', filename='data.js') }}"></script>
<script src="{{ url_for('static', filename='index.js') }}"></script>
<script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
<script>
    //get the current year for the copyright
    $('#year').text(new Date().getFullYear());

    //Init Scrollspy
    $('body').scrollspy({
        target: '#main-nav'
    });

    //Smooth scrolling
    $('#main-nav a').on('click', function(event) {
        if (this.hash !== "") {
            event.preventDefault();

            const hash = this.hash;

            $('html, body').animate({
                scrollTop: $(hash).offset().top
            }, 800, function() {
                window.location.hash = hash;
            });
        }
    });
</script>
</html>
